.tree_node {
    border-left: green solid 2px;
    margin: 5px;
}

.tree_node__p {
    padding: 0 10px;
    width: fit-content;
    cursor: pointer;
    transition: .15s linear;
}

.active {
    background-color: #bbf8bb;
}