.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: green;
}

.App__input {
  border: green 2px solid;
}

.App__input[placeholder] {
  opacity: 70%;
}