.App {
  box-sizing: content-box;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  border-bottom: green 2px solid;
  overflow: auto;
  color: green;
}

.App__interactive {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
}

.App__interactive > * {
  margin: 5px;
}

.App__input {
  padding: 5px;
  border: green 2px solid;
}

.App__input[placeholder] {
  opacity: 70%;
}

.App__error {
  color: red;
}